.img-fluid{

    height:90%;
    width:auto;
    

}
.image{
    height:400px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.table td{
    padding:2px;
    margin:0px;
}
.table td{
    width:40%;
}
.table td.value{
    width:60%;
}
