i{
    font-size: 30px!important;
}

.mx-0{
    margin-right: 10%!important;
    margin-left:10%!important;
}
.card-deck .card{
    max-width:300px!important;
    text-align: center;
    padding:30px;

}
.card-deck .card-body{
    display: flex;
    padding:0;
    justify-content: center;
    align-items: center;
}

hr{
    width:90%;
}